<div class="main-container">
<div class="row">
	<form id="edit-question-form" ng-submit="submit()">
		<div class="card white">
			<div class="section"></div>
			<div class="row">
				<div class="col s12 m12 l12">
					<div class="input-field">
						<input type="text" class="validate-focus" textid="question_text" ng-model="question.text">
						<label for="question_text" class="active">Question Text</label> 
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m12 l12">
					<h6 class="teal-text text-darken-1">Please select your preferred question type:</h6>
					<div>
						<input type="radio" id="questionType1" name="type" value="text" ng-model="question.type"> <label for="questionType1">Text Answer</label>
						<input type="radio" id="questionType2" name="type" value="multiple" ng-model="question.type"> <label for="questionType2">Multiple Choice</label>
						
					</div>
					<div class="row">
				        <div class="col s12 m12 l12">
				          Add points to the question:
				          <div class="input-field inline">
				           <input type="text" name="point" ng-model="question.point">
				            <label for="questionType2">Point</label>
				          </div>
				        </div>
				    </div>

					<div ng-if="showFreeform()" class="input-field">
						
						<label for="textarea1">Write a text answer</label>
						<textarea id="textarea1" class="materialize-textarea" ng-model="textOption.context"></textarea>
          			</div>
						<!-- <textarea placeholder="Add an answer..." name="context" ng-model="option.context"></textarea> -->
					
					<div ng-if="showOptions()">
						<br>
						<h6 class="blue-grey-text text-darken-3">Add Options for the Questions</h6>
						<ol>
							<li ng-repeat="option in options">
								<input type="text" placeholder="Add an answer option..." name="context" ng-model="options[$index].context" />
								
								<input id="checkFollower" type="checkbox" name="isCorrect" ng-checked="options[$index].isCorrect"><label>Correct Answer<input type="checkbox" ng-model="options[$index].isCorrect"></label>


								<!-- <input type="checkbox" name="isCorrect" ng-model="options[$index].isCorrect" value="1" /> <label>Correct Answer</label> -->
								
								<a class="btn-floating waves-effect waves-light teal darken-1 right" type="button" ng-click="deleteOption($index)"><i class="material-icons">delete</i></a>
							
							</li>
						</ol>
						<a class="btn-floating waves-effect waves-light teal darken-1" type="button" ng-click="addOption()"><i class="material-icons">add</i></a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m12 l12">
				<!-- <a class="waves-effect waves-light btn" type="submit">Add Question</a> -->
					<button class="waves-effect waves-light btn" onclick="Materialize.toast('Question Added to the Question Bank', 4000)" type="submit">Add Question</button>
					<div class="section"></div>
				</div>
			</div>
		
		</div>
	</form>
</div>
</div>
