<div class="main-container">
  <div class="row">
     <h4 class="teal-text text-darken-1 center-align">Question Sets for {{course.course_name}}</h4>
    <a href="#!questions/{{course.course_id}}" class="btn waves-effect waves-light">Add Question Set</a>
  </div>
  
  <div class="row">
    <ul id="questionSets-list">
      <li ng-repeat="questionSetForCourse in questionSetsForCourse">
        <div class="col s12 m6 l4">
          <div class="card small white">
            <div class="card-content teal-text text-darken-1 text-style">
              <div class="card_meta"><span>{{course.course_name}}</span></div>
              <span class="card-title">{{questionSetForCourse.question_set_name}}</span>
              </div>
              <div class="card-action">
                  <a href="#!">View Question Set</a>
                  <br>
                  <a href="#!">Generate PDF</a>
                  <div class="section"></div>
                    <!-- <a href="#!add-question">Add Question</a> -->
                  <!-- <a href="#!questions">Answer Sets</a> -->
                  
                <div class="right">
                    <a class = "btn-floating waves-effect waves-light teal darken-1" ng-click="deleteQuestionSet(questionSetForCourse.question_set_id)" ><i class = "material-icons">edit</i></a>
                   <a class = "btn-floating waves-effect waves-light teal darken-1" ng-click="deleteQuestionSet(questionSetForCourse.question_set_id)"><i class = "material-icons">delete</i></a>
                </div>
              </div>

                  <!-- <a href="#!questions/{{course.course_id}}">View Question Set</a>
                  <br>

                  <a href="#!questionSets/{{course.course_id}}">Generate PDF</a>
                  <div class="section"></div>
                    <a href="#!add-question">Add Question</a>
                	<a href="#!questions">Answer Sets</a>
                  
                  <div class="right">
                    <a class = "btn-floating waves-effect waves-light teal darken-1" ng-click="deleteCourse(course.course_id)" ><i class = "material-icons">edit</i></a>
                   <a class = "btn-floating waves-effect waves-light teal darken-1" ng-click="deleteCourse(course.course_id)" ><i class = "material-icons">delete</i></a> -->
                </div>


                   
                  <!-- <button class = "btn waves-effect waves-light teal darken-1" ng-click="deleteCourse(course.course_id)">Delete</button> -->
                  
              </div>
          </div>
      </div>
      </li>
      </ul>
  </div>

  </div>