<div class="main-container">
    <div class="row">
        
        <h4 class="teal-text text-darken-1 center-align">Question Bank of {{course.course_name}}</h4>
        
        <a href="#!add-question/{{course_id}}" class="waves-effect waves-light btn">Create Question</a>
        <a class="waves-effect waves-light btn right modal-trigger" ng-disabled="questionSetArr.length === 0" ng-click="openQuestionSetNameModal()">
        Generate Question Set</a> 
    </div>
<div id="questionSetName" class="modal">
                <div class="row">
                <div class="col s12 m12 l12"">
                <div class="modal-content">
                  <div class="input-field">
                  <input type="text" ng-model="questionSetName"><label>Question Set Name</label>
                  </div>  
                </div>
                <div class="modal-footer">
                    <button class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</button>
                    <button class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="generateQuestionSet()">Done</button>
                </div>
            </div>
            </div>

</div>

<div class="row">
    <ul id="questions-list" >
        <li ng-repeat="question in questions" class="questionlist-card-container">
            <div class = "card-panel ">
                <div class="row">
                    <span class="left">Q-{{$index + 1}} [{{question.question_point}}Pts] </span><span class="truncate blue-grey-text text-darken-3">{{question.question_text}}</span>
                   
                        
                         
                     <input id="checkFollower" type="checkbox" ng-checked="questionSetArr.indexOf(question.question_id) > -1"><label class="teal-text text-lighten-1">Select question to generate question set<input type="checkbox" ng-click="toggleSelection(question.question_id)"></label><br/>
                                        
                       <!--  <input name="questiononly" type="checkbox" ng-model="questionSet[$index]" ng-true-value="{{value}}" ng-false-value={{undefined}}><label for="questiononly">Question Only</label> -->
                 
                   
                </div>
        
                <div class="right">
                    <button class = "btn btn-floating waves-effect waves-light teal darken-1  modal-trigger" ng-click="showEditModal(question.question_id)">
                        <i class = "material-icons">mode_edit</i></button>
                    <a class = "btn-floating waves-effect waves-light teal darken-1" ng-click="deleteQuestion(question.question_id)">
                        <i class = "material-icons">delete</i></a>
                </div>
            </div>

            <div id="modal{{question.question_id}}" class="modal">
                <div class="modal-content">
                  <input type="text" value="{{question.question_text}}">
                </div>
                <div class="modal-footer">
                    <button class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</button>
                    <button class="modal-action modal-close waves-effect waves-green btn-flat">Done</button>
                </div>
            </div>
        </li>
    </ul>
</div>
</div>




