<div class="main-container">
    <div class="row">
        <h6 class="teal-text text-darken-1">{{getCourse(questionSet.course_id).course_number}} | <span class="strong">{{getCourse(questionSet.course_id).course_name}}</span></h6>
        <h5 class="teal-text text-darken-1">Question Set {{questionSet.question_set_name}}</h>
    </div>
    
       <div class="row">
        <ul id="questions-list" >
            <li ng-repeat="question in questions" class="questionlist-card-container">
                <div class = "card-panel">
                  <div class="row">
                        <div class="question">
                            <span class="question-index left blue-grey-text text-darken-3">Q-{{$index + 1}}</span><span class="question-point left blue-grey-text text-darken-3"> [{{question.question_point}}Pts]</span>
                            <span class="question-text">{{question.question_text}}</span>
                        </div>


                        <div class="blue-grey-text text-darken-3" ng-if="question.question_type == 'text'">
                            <div ng-init="options = getOptionForQuestion(question.question_id)">
                                <ul>
                                    <li ng-repeat="option in options" >
                                        <div class="correct-answer"><span class="strong">Answer: </span> {{option.context}}</div>
                                    </li>
                                </ul>
                            </div>                           
                        </div>

                        <div class="blue-grey-text text-darken-3" ng-if="question.question_type == 'multiple'">
                            <div ng-init="options = getOptionForQuestion(question.question_id)">
                                <ul>
                                    <li ng-repeat="option in options" >
                                        <div ng-if="option.is_correct">
                                            <span class="correct-answer strong">{{$index+1}}. {{option.context}}</span>
                                            
                                        </div>
                                        <div ng-if="!option.is_correct">
                                            <span class="correct-answer">{{$index+1}}. {{option.context}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>



                    <div class="right">
                       <!--  <button class = "btn btn-floating waves-effect waves-light teal darken-1  modal-trigger" ng-click="showEditModal(question.question_id)">
                            <i class = "material-icons">mode_edit</i></button> -->
                        <a class = "btn-floating waves-effect waves-light teal darken-1" ng-click="deleteQuestion(question.question_id)">
                            <i class = "material-icons">delete</i></a>
                    </div>
                </div>

                <div id="modal{{question.question_id}}" class="modal">
                    <div class="modal-content">
                      <input type="text" value="{{question.question_text}}">
                    </div>
                    <div class="modal-footer">
                        <button class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</button>
                        <button class="modal-action modal-close waves-effect waves-green btn-flat">Done</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>




